<header id="header">
				<h1 id="logo"><a href="/">Catalytik traduction</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">{{site.menu.accueil[site.active_lang]}}</a></li>
						<li><a href="/propos">{{site.menu.propos[site.active_lang]}}</a></li>
						<li><a href="/nouvelles">{{site.menu.nouvelles[site.active_lang]}}</a></li>
						<li><a href="/contact">Contact</a></li>
						<li>{% if site.active_lang == site.default_lang %}<a href="/en{{page.url}}" class="button special">EN</a>
							{% elsif site.active_lang != site.default_lang %}<a href=" {{site.url}}{{page.url}}" class="button special">FR</a>
							{% endif %}</li>
					</ul>
				</nav>
			</header>
